[submodule "unix/dotvim"]
	path = unix/dotvim
	url = https://github.com/LKI/dotvim.git
[submodule "unix/prelude"]
	path = unix/prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "unix/bash-git-prompt"]
	path = unix/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
