*.DS_Store
*.bak
*.egg-info*
*.exe
*.log
*.log.*
*.pyc
*.sqlite3
*.swp
*~
20*.xls
20*.xlsx
output*.xls
output*.xlsx
~*

nosetests.xml
.coverage*

.idea/
.vscode/
build/
dist/
htmlcov/
node_modules/
tmp/

