[alias]
	br = branch
	ci = commit
	co = checkout
	logg = log --graph --decorate --oneline --abbrev-commit --all
	st = status
    cim = commit --amend
    dl = diff HEAD^
[core]
	editor = vim
[color]
	ui = true
[merge]
	tool = vimdiff
[push]
	default = simple
[credential]
	helper = store
