[alias]
    br = branch -a
    ci = commit
    cim = commit --amend
    co = checkout
    dl = diff HEAD^
    logg = git log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    loggo = log --graph --decorate --oneline --abbrev-commit --all
    st = status -sb
[core]
	editor = vim
[color]
	ui = true
[merge]
	tool = vimdiff
[push]
	default = simple
[credential]
	helper = store
