[submodule "Unix/dotvim"]
	path = Unix/dotvim
	url = https://github.com/LKI/dotvim.git
[submodule "Unix/prelude"]
	path = Unix/prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "Unix/bash-git-prompt"]
	path = Unix/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
