[alias]
    br = branch
    ci = commit
    cim = commit --amend
    co = checkout
    dfl = diff --name-status
    dfs = diff --staged
    dl = diff HEAD^
    g = grep -in
    last = log -1 HEAD
    logg = log --graph --decorate --oneline --abbrev-commit --all --no-merges
    logo = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    logs = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    mgf = merge --ff-only
    pf = push -f
    rh = reset --hard
    rp = remote prune
    st = status
[core]
    editor = vim
	pager = less -F -X
[color]
    ui = true
[merge]
    tool = vimdiff
[push]
    default = simple
[credential]
    helper = cache --timeout 36000
