*.DS_Store
*.bak
*.egg-info*
*.exe
*.log
*.log.*
*.pyc
*.sqlite3
*.swp
*~

/*.iml

.coverage*
20*.xls
20*.xlsx
nosetests.xml
output*.xls
output*.xlsx
~*
play.go

.entc/
.idea/
.vscode/
build/
dist/
htmlcov/
node_modules/
tmp/
