set surround

nmap go :action MoveEditorToOppositeTabGroup<CR>
nmap gl :action VimMotionNextTab<CR>
nmap gh :action VimMotionPreviousTab<CR>
nmap gb :action Back<CR>
nmap gr :action MoveTabRight<CR>
nmap gt /^class.*TestCase<CR>W:action CopyReference<CR>
